<div class="header-background container-fluid">
    <div class="header container">
        <div class="row row-eq-height">
            <div class="logo col-xs-2">
                <span class="typcn typcn-leaf"></span><span>cải</span>
            </div>
            <div class="search-box col-xs-8">
                <div class="form-group has-feedback">
                    <input type="text" placeholder="Tìm kiếm..." class="form-control">
                  <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-block btn-primary">Đăng bài</button>
            </div>
        </div>
    </div>
</div>
<div class="top-news-background container-fluid">
    <div class="row">
        <div class="news-box col-xs-3">
            <a href="#">
              <%= holder_tag '100px160' %>
              <span>Cách chức Tổng Giám đốc Công ty cổ phần Vận tải đường sắt Hà Nội</span>
            </a>
        </div>
        <div class="news-box col-xs-3">
            <a href="#">
              <%= holder_tag '100px160' %>
              <span>Ông Đinh La Thăng: Toàn tâm trí tôi giờ dành cho việc duy nhất</span>
            </a>
        </div>
        <div class="news-box col-xs-3">
            <a href="#">
              <%= holder_tag '100px160' %>
              <span>Thần tượng Bolero 2016: Hotgirl Gia Lai làm "dậy sóng" ghế nóng</span>
            </a>
        </div>
        <div class="news-box col-xs-3">
            <a href="#">
              <%= holder_tag '100px160' %>
              <span>Biệt đội giải cứu 'cá cảm tử' trong ngày cúng ông Táo</span>
            </a>
        </div>
    </div>
</div>
<div class="top-keywords-background container-fluid">
    <div class="top-keywords container">
        <div class="row">
            <div class="col-xs-2"><b>ĐANG HOT <i class="hot-keywords typcn typcn-volume-up"></i></b></div>
            <div class="col-xs-10">
                <ul class="list-inline">
                    <li><a href="#">Hường Hana</a><li>
                    <li><a href="#">Hari Won</a><li>
                    <li><a href="#">Đinh La Thăng</a><li>
                    <li><a href="#">Trấn Thành</a><li>
                    <li><a href="#">Cúng ông Táo</a><li>
                    <li><a href="#">Bầu cử thủ tướng</a><li>
                    <li><a href="#">Bộ chính trị</a><li>
                    <li><a href="#">BMW i8</a><li>
                    <li><a href="#">Thách thức danh hài</a><li>
                    <li><a href="#">Linh Miu</a><li>
                    <li><a href="#">Virus Zika</a><li>
                    <li><a href="#">Giá xăng dầu</a><li>
                    <li><a href="#">Ngày tình bạn</a><li>
                    <li><a href="#">Facebook</a><li>
                </ul>
            </div>
        </div>
    </div>
</div>
